In [4]:
import sys
import os

# Agrega la carpeta raíz del proyecto al path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

### Exploración de datos con SQL Alchemy

In [18]:
import pandas as pd
from core.connection import get_engine
from core.queries import QUERIES
from core.connection_notebook import get_engine_notebook

%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
engine = get_engine_notebook()

### Consultas

In [24]:
query = """
SELECT Year_Month, COUNT(DISTINCT(Artist)) as Scrobblings
        FROM Clean_LastfmData
        GROUP BY Year_Month
"""

# Ejecutar y cargar resultados
df = pd.read_sql(query, engine)
df.head()

  Year_Month  Scrobblings
0    2015-09          122
1    2014-12          184
2    2014-11          267
3    2015-05          177
4    2014-10          152

In [ ]:
query = """
SELECT * FROM Clean_LastfmData
"""
selectall = pd.read_sql(query, engine)
selectall.head()

,Artist,Album,Song,Fecha,Fecha_GMT,Year,Quarter,Month,Day,Hour,Year_Month,Year_Month_Day,WeekDay,RowNum
0,Ozzy Osbourne,Blizzard Of Ozz (40th Anniversary Expanded Edi...,Crazy Train,2025-08-06 00:33:00,2025-08-05 19:33:00,2025,3,8,5,19,2025-08,2025-08-05,Martes,141276
1,Ozzy Osbourne,Blizzard Of Ozz (40th Anniversary Expanded Edi...,Crazy Train,2025-08-06 00:29:00,2025-08-05 19:29:00,2025,3,8,5,19,2025-08,2025-08-05,Martes,141275
2,Black Sabbath,Paranoid,Iron Man - 2009 Remaster,2025-08-05 23:38:00,2025-08-05 18:38:00,2025,3,8,5,18,2025-08,2025-08-05,Martes,141274
3,Black Sabbath,Paranoid,Paranoid - 2009 Remaster,2025-08-05 23:36:00,2025-08-05 18:36:00,2025,3,8,5,18,2025-08,2025-08-05,Martes,141273
4,Ozzy Osbourne,Blizzard Of Ozz (40th Anniversary Expanded Edi...,Mr. Crowley,2025-08-05 23:30:00,2025-08-05 18:30:00,2025,3,8,5,18,2025-08,2025-08-05,Martes,141272

### Plots